* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    width: 700px;
    height: 670px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header h1 {
    font-size: 2em;
    color: #333;
}

.menu-header h1 span {
    color: #b71c1c;
    font-weight: bold;
}

.logo {
    width: 50px;
    height: auto;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.menu-items {
    width: 45%;
}

.menu-items ul {
    list-style: none;
}

.menu-items li {
    display: flex;
    justify-content: space-between;
    background-color: #ff7043;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.menu-items li span {
    color: #000;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    
}

footer span {
    font-weight: bold;
}

.contato1 p {

    position: relative;
    bottom: 625px;
    left: 23%;
    color: #ff4500;

}

.numero {
    color: #000;

}

.div65 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


.carrinho1 {
    background-color: #da541f; 
    color: #fff; 
    font-size: 20px; 
    font-family: 'Inter', sans-serif; 
    font-weight: bold; 
    border: none; 
    padding: 15px 40px; 
    border-radius: 10px; 
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
    text-transform: uppercase; 
}

.carrinho1 {

    position: relative;
    bottom: 290px;
    right: 90%;

}


.carrinho1:hover {
    background-color: #a31d05; 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}


.carrinho1:active {
    background-color: #a31d05; 
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); 
    transform: scale(0.95); 
}
