*,
::after,
::before {

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}

.imagemlogo {

    position: relative;
    width: 100px;
    height: auto;
    transform: translate(0, -50px);
    left: 50%;
    top: 30px;
    
}

.logo1 {

    position: relative;
    left: 60%;

}

.cadastro1 {

    position: relative;
    left: 40%;
}

/*.imagem1 {

    position: relative;
    width: 120px;
    height: 172px;
    transform: translate(0, -50px);
    left: 91%;
    bottom: 375px;

}

.imagem2 {

    position: relative;
    width: 120px;
    height: 265px;
    transform: translate(0, -50px);
    left: 82%;
    bottom: 101px;

}

.imagem3 {

    position: relative;
    width: 120px;
    height: 192px;
    transform: translate(0, -50px);
    left: 73%;
    top: 99px;

}

.imagem4 {

    position: relative;
    width: 50px;
}

.imagem5 {

    position: absolute;
    width: 120px;
    height: 233px;
    transform: translate(0, -50);
    right: 91%;
    top: 10px;

}

.imagem6 {

    
    width: 100px;
}

.imagem7 {

    position: absolute;
    width: 100px;
    height: auto;
    transform: translate(0, -50px);
    right: 90%;
    bottom: 33px;

}

.imagem8 {

    width: 80px;
}

.imagemDoProduto {

    position : absolute;
    right: 50%;
    top: 5px;

}*/

.nomeDoProduto {

    position: absolute;
    left: 20%;
}

.precoProduto {

    position: relative;
    right: 30%;
    top: 50px;
}

.div1 {

    position: relative;
    right: 20%;
}

.imagemDoProduto {

    max-width: 300px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.preVisualizacaoDaImagem {

    width: 100%;
    height: 200px;
    border: 2px dashed #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
   
}

.imagemPlaceholder {

    color: #aaa;
    font-size: 16px;
   
}

.arquivoImagem {

    cursor: pointer;
    padding: 10px;
    margin: 15%;
}